<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
    <form method="post" enctype='multipart/form-data'>
        {%csrf_token%}
        email: {{form.email}} <br><br>
        Name: {{form.name}}<br><br>
        Phone: {{form.phone}} <br><br>
        gender: {{form.gender}} <br><br>
        hobbies: {{form.hobbies}} <br><br>
        profile_picture: {{form.profile_picture}} <br><br>
        <button type="submit">Add</button>
    </form>

    <a href="\logout">logout</a>
</body>
</html>