<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>link</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td><a href="/employee/{{employee.company_id.id}}/{{employee.id}}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="\logout">logout</a>
</body>
</html>